
/* Typography
================================= */

@font-face {
	font-weight: normal;
	font-style: normal;
}
h1 {
	font-size: 3.5em;
	color: #5f5d60;
	font-weight: 200;
	margin-bottom: 8px;
}
h2 {
	font-size: 1.35em;
	color: #5f5d60;
	font-weight: 200;
	margin-bottom: 30px;
	margin-top: 0;
}
p {
	color: #7d7d7d;
	line-height: 1.7;
	font-size: 1.1em;
	font-weight: 200;
}
/* Navbar
================================= */

.navbar {
	background: rgba(255,255,255,0);
	border: none;
	padding: 0;

}

html {
	background: url('../img/main-bg.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 200px;
}

/* Layout
================================= */

.panel {
	background-color: rgba(255, 255, 255, 0.9);
}
body {
	padding-top: 20px;
	font-size: 16px;
	background: transparent;
}


/* Buttons
================================= */

.btn-success {
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 30px;
	padding: 12px 22px;
}

/* Logos & Icons
================================= */

.main-logo {
	width: 144px;
	height: 84px;
	margin-left: 30px;
	margin-top: 12px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('../img/main-logo.png') no-repeat;
	background-size: 100%;
}
